

<br>
<howto class="container-fluid">
    <p >
        Get started by Creating an account and then logging in.<br> Once logged in, you will be able to access your Portfolio.<br> from there you can set financial goals, starting capital and time frame for your plan.<br> You can also experiment with adding various forms of revenue and also inserting your expenses. to automatically generate a chart projecting your finances into the time frame you have set!<br><br> below are some sample inputs and the resulting graph.
    </p>
</howto>

<div id='sample-container' class="container-fluid">
    <div class='samples' class="container-fluid">
        <h3 class='sample-label'>Sample Profile</h3>
        <img src='/img/sampleRev.png' class='sample-img img-fluid'>
    </div>
    <br>
    <div class='samples' class="container-fluid">
        <img src='/img/sampleExp.png' class='sample-img img-fluid'>
    </div>
    <br>
    <div class='samples' class="container-fluid">
        <h3 class='sample-label'>resulting graph</h3>
        <img src='/img/graph-sample.png' class='sample-img img-fluid'>
    </div>
</div>
    
