

<br>
<howto>
    <p>
        Get started by Creating an account and then logging in. Once logged in, you will be able to access your Portfolio. from there you can set financial goals, starting capital and time frame for your plan. You can also experiment with adding various forms of revenue and also inserting your expenses to automatically generate a chart projecting your finances into the time frame you have set! below are some sample inputs and the resulting graph.
    </p>
</howto>
<hr>
<h3>sample revenues</h3>
<img src='/img/sampleRev.png'>>
<br>
<h3>sample expenses</h3>
<img src='/img/sampleExp.png'>
<br>
<h3>resulting graph</h3>
<img src='/img/graph-sample.png'>