<form method='post' action='/portfolio/add/expense'>
    <div class='form-group'>
        <label>title</label>
        <input type="text" class='form-control'>
    </div>

    <div class='form-group'>
        <label>Monthly Expense</label>
        <input type="number" class='form-control'>
    </div>

    <div class='form-group'>
        <label>Annual Percent Change</label>
        <input type="number" class='form-control'>
    </div>

    <button type="submit" class='btn btn-primary'>Add Expense
    </button>

</form>