<form method='post' action='/portfolio/add/revenue'>
    <div class='form-group'>
        <label>title</label>
        <input type="text" class='form-control' name='title'>
    </div>

    <div class='form-group'>
        <label>Monthly Revenue</label>
        <input type="number" class='form-control' name='monthlyInFlow'>
    </div>

    <div class='form-group'>
        <label>Annual Percent Change</label>
        <input type="number" class='form-control' name="annualPercentChange" value="0">
    </div>

    <button type="submit" class='btn btn-primary'>Add Revenue Source</button>

</form>